body{
  margin: auto;
  padding: auto;
}

.container_card{
  display: flex;
  flex-direction: row;
}
.image_card{
  display: flex;
  flex-direction: row;
  border: 5px solid hsl(204, 71%, 38%);
border-radius: 10px;

height: 100px;
width: 100px;  
}

